<div class="sy-head">
  <div class="sy-head-blur"></div>
  <div class="sy-head-inner sy-container mx-auto", style="justify-content: space-between;">

    <div class="nav-links-group">
      <a href="{{ pathto('blog') }}" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 12h18"/><path d="M3 6h18"/><path d="M3 18h18"/></svg>
        All posts
      </a>
      <a href="https://calendly.com/flaviagiammarino/consultation" target="_blank" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/><path d="m9 16 2 2 4-4"/></svg>
        Book a consultation
      </a>
    </div>

    <div class="sy-head-actions flex items-center shrink-0 print:hidden">
      {%- include "components/theme-switch.html" -%}
    </div>

  </div>
</div>