<meta property="og:title" content="FlaviaGiammarino.com | Machine Learning Consultant | AWS (Bedrock & SageMaker)">
<meta property="og:url" content="https://flaviagiammarino.com">
<meta property="og:type" content="website">
<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://plausible.io/js/pa-WdiD6Hmq4r_JzL5dmdLwa.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>

